@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, var(--color-primary) 0%, var(--color-secondary) 100%);
  box-shadow: 0 16px 14px 0 rgba(0, 0, 0, 0.25);
  padding: 18px 24px;
  max-width: 345px;
  color: var(--color-text);
}

.image {
  margin-bottom: 26px;
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.degree {
  font-size: 25px;
  font-weight: 700;
  color: var(--color-text);
}

.institution {
  font-size: 20px;
  font-weight: 400;
  color: var(--color-text);
  margin-top: 6px;
}

.year {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-text);
  margin-top: 4px;
}
